* {
    margin: 0;
    padding: 0;
}
/* html {
    width: 100%;
} */
body {
    width: 100%;
    background: url('./images/header.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    /* overflow-x: hidden; */
}
.header {
    color: #f5f5dc ;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.6em;
}
.name p {
    font-size: 2em;
    /* font-family: 'Caveat', cursive; */
        font-family: 'Nickainley';
        text-align: center;

}
.pink {
    background-color: #d9ced1;
    color: rgb(83, 83, 83);
    /* color: #f5f5dc ; */
    padding: 10% 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text {
    max-width: 100%;
    font-size: 1.3em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
h2 {
    font-size: 1.4em;
    /* font-family: 'Caveat', cursive; */
        font-family: 'Nickainley';
}
.color__wrapper {
    margin-top: 5%;
    width: 300px;
    height: 70px;
    border: 3px solid rgb(83, 83, 83);
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.color {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.color1 {
    background-color: red;
}
.color2 {
    background-color: rgb(89, 106, 151);
}
.color3 {
    background-color: rgb(200, 255, 0);
}
.color4 {
    background-color: rgb(25, 177, 19);
}
p {
    /* font-family: 'Neucha', cursive; */
        font-family: 'Nickainley';
}
.date {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    width: 280px;
    justify-content: space-around;
}
.left {
    border-top: 1px solid #f5f5dc ;
    border-bottom: 1px solid #f5f5dc ;
}
.right {
    border-top: 1px solid #f5f5dc ;
    border-bottom: 1px solid #f5f5dc ;
}
.number {
    font-size: 2.5em;
}
.first {
position: relative;
}
.header__branch {
    /* transform: scale(1, -1); */
    width:100%;
    position: absolute;
    top:-10%;
    /* left:-15%; */
}
.header__branch2 {
    transform: scale(-1, 1);
    width:70%;
    position: absolute;
    top:-6.2%;
    left:43%;
    /* z-index: 1; */
}
.event__plan {
    width: 80%;
}
.calendar__wrapper {
    position: relative;
}
.calendar {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.heart {
    position: absolute;
    right: 32.5%;
    top: 46.5%;
    width: 7%;
    
}
.heartan {
    animation-duration: 3s;
    animation-name: size;
}
  @keyframes size {
    from {
      width: 300%;
    }
  
    to {
      width: 7%;
    }
  }
.branch1 {
    width: 100%;
    transform: scale(-1, -1);
    transform: rotate(120deg);
    position: absolute;
    left: -100%;
}
.branch2 {
    width: 80%;
    /* transform: rotate(210deg); */
    position: absolute;
    /* right: -100%; */
    /* right: -46%; */
    right: -75%;
    bottom: -50%;
    /* margin-right: 200px; */
}
.branch3 {
    width: 100%;
    transform: rotate(-90deg);
    position: absolute;
    /* right: -100%; */
    right: -69%;
    top: 100%;
    /* margin-right: 200px; */
}
.green2 {
    width: 100%;
    position: absolute;
    left: -100%;
    /* transform: scale(-1,1); */
    transform: rotate(-130deg);

}
.branch4 {
    width: 100%;
    transform: scale(-1, -1);
    transform: rotate(120deg);
    position: absolute;
    left: -100%;
    top:0;
}
.other__branch {
    width: 100%;
    transform: rotate(210deg);
    position: absolute;
    left: -100%;
    bottom: -100%;
}
.carts {
    /* width: 930px; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* padding: 5% 10%; */
    background-color: #d9ced1;
}
.footer__branch {
    position: relative;
    background: #d9ced1;
    width: 100%;
    /* padding: 0 20%; */
   
    /* font-size: 0; */
}
.feedback {
    position: absolute;
    bottom: 10px;
    right: 5px;
    font-size: 0.8em;
}
.footer__branch img {
    width: 60%;
    padding: 0 20%;
    /* margin-left: auto; */
    /* margin-right: auto; */
}
.footer {
    padding: 10% 0 0 0 ;
}
form {
    background-color: #d9ced1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.last {
    padding: 2% 30%;
}
.name input{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background-color: #d9ced1;
}
.green {
    color: rgb(4, 126, 14);
}
input[name='foot'] {
    display: none;
}
.foot {
    cursor: pointer;
}
input[name='Presence'] {
    display: none;
}
.Presence {
    cursor: pointer;
}
input[type='checkbox'] {
    display: none;
}
.drink {
    cursor: pointer;
}
.timer {
    position: relative;
    width: 100%;
    height: 60px;
    padding: 10% 0;
}
.deadline {
    position: absolute;
    /* top: -50%; */
    z-index: 1;
    width: 100%;
    font-family: 'Nickainley';
}
input[type='submit'] {
    margin: 30px 0 0 0;
    padding: 10px;
    background: #d9ced1;
    border: 3px solid rgb(83, 83, 83);
    border-radius: 15px;
    cursor: pointer;
    transition: all 1s;
    font-family: 'Nickainley';
}
input[type='submit']:hover {
    transform: scale(1.2,1.2);
}
.last {
    /* font-family: 'Neucha', cursive; */
    font-family: 'Nickainley';
}
.copy {
    display: flex;
    width: 90%;
    justify-content: center;
}
.copy__wrapper {
    margin: 0 10px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
}
.choice1 label,.choice2 label,.choice3 label {
    font-weight: bold;
}
@font-face {
    font-family: "Nickainley"; 
    src: url("./fonts/Nickainley.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
#YMapsID {
    width: 45%;
    height: 300px;
}
#YMapsID2 {
    width: 45%;
    height: 300px;
}
@media (max-width:520px) {
    .carts {
        /* width: 930px; */
        /* width: 375px; */
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    #YMapsID {
        width: 90%;
        height: 300px;
    }
    #YMapsID2 {
        width: 90%;
        height: 300px;
    }
    .text {
        font-size: 1em;
    }
    .name p {
        font-size: 1.4em;
    }
    .header__branch {
        top:-5%;
    }
    .header {
        font-size: 1.4em;
    }
}
